

:root {
    /** Fonts */
    --title: 'EB Garamond', serif;
    --main-font: 'Roboto', serif;

    /* Colour variables */
    --background: #3f006a0f;
    --green: #ffbf50;
    --black: #000;
    --off-white: #ebe3ee;
    --white: #ffffff;
    --orange: #ffbf50;

    /* Utils */
    --smal-box-shadow: 1px -1px 7px 0 #00000061;
    --border: 1px solid #00000030;
}



html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
    
}

main {
    flex: 1 0 auto;
    background-color:var(--white);
    
}

/* Header style */


.navbar {
    background-color: var(--off-white);
    box-shadow: var(--smal-box-shadow);
    margin-bottom: 20px !important;
    
}

a.nav-link {
    color: var(--black);
}

img.logo {
   
    height: 3rem; 
    display: block; 
    
}

.active {
    border-bottom: 2px solid var(--orange);
    font-weight: 500;
}

img.card-img-top{
    max-height: 40vh;
    object-fit: contain;
}

img.img-fluid.rounded-start {
    max-height: 40vh;
}

  
.card.product .btn {
    bottom: 0.5rem;
    max-width: 80%;
  }


/* Footer style*/
footer {
    flex-shrink: 0;
    background-color: var(--off-white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
}
/* Edia icon style*/
.social-icon {
    height: 2rem;
    margin: 1rem;
}

/* Form */

.form {
    width: 50%;
    margin: 3% auto;
    box-shadow: var(--smal-box-shadow);
    border-radius: 5px;
    justify-content: left;
}

/* button styles*/
.btn-primary {
    background-color:#fbb232 !important;
    border-color:#ffbf50 !important;
    
}

.btn-outline-success{
    border-color:#f9bb4f !important ;
}
.form-control{
    border-color:#f9bb4f !important
}
a { color:#f9af30 ; } 

/*Book_details page style*/

.container-with-padding {
    padding-top: 10px; 
    padding-bottom: 10px;
}

/* Hero Image */ 

.hero-image {
    background-image:url("https://asset.cloudinary.com/dsg6hqhrr/bb8377b2ac6e95f44d589c21a3bf0bd0");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    display: flex; /* Use flexbox to center content vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center;
}



/* Hero text*/ 

.hero-text {
    text-align: center;
}

/* lead text */

.hero-text .lead {
   
    font-size: 2.5em;
}