{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="text-center p-2">Available Books</h1>

<div class="container">
  <div class="row">
    {% for book in books %}
      <div class="col-6 col-lg-4 col-xl-3">
        <div class="card mb-4 shadow-sm">
          <a href="{% url 'book_details' book.id %}" aria-label="Click to view {{book.title}}">
            <img src="{{book.image.url}}" class="card-img-top px-3 pt-3" alt="{{book.image_alt}}">
          </a>
          <div class="card-body">
            <h5 class="card-title mb-0"><strong>{{book.title|truncatechars:20}}</strong></h5>
            <p class="card-text text-muted">{{book.author}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{% url 'book_details' book.id %}" class="btn btn-sm btn-outline-secondary">Details</a>
                
              </div>
              <small class="text-muted">{{ book.published_date|date }}</small>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}